# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [17]:
# Import the data
lending = pd.read_csv('../Starter_Code/Resources/lending_data.csv')
lending

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

*Replace the text in this markdown cell with your predictions, and be sure to provide justification for your guess.*

## Split the Data into Training and Testing Sets

In [41]:
# Split the data into X_train, X_test, y_train, y_test
X = lending.drop(['loan_status'], axis=1)
y= lending['loan_status']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=40)
X.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
22613,10300.0,7.515,51300,0.415205,4,1,21300
28321,8200.0,6.602,42700,0.297424,2,0,12700
22148,11200.0,7.901,54900,0.453552,5,1,24900
72449,9700.0,7.233,48700,0.383984,4,0,18700
71029,9500.0,7.159,48000,0.375000,4,0,18000
32740,10900.0,7.770,53700,0.441341,5,1,23700
56891,10300.0,7.510,51300,0.415205,4,1,21300
69050,11300.0,7.928,55200,0.456522,5,1,25200
19359,8800.0,6.872,45300,0.337748,3,0,15300
9805,11000.0,7.810,54100,0.445471,5,1,24100

In [51]:
lending['loan_status'].unique()

array([0, 1], dtype=int64)

In [56]:
lending['loan_size'].mean()

9805.562577383409

In [58]:
print(lending['loan_size'].min())
print(lending['loan_size'].max())

5000.0
23800.0

When looking at the lending data I predict that Random Forest Classifier will perform better than Logistic Regression based on 2 reasons. First the 'Loan_status' column only has 2 classifications, and the Second reason is that the data is in similar ranges of each column and doesn't have extreme outliers that may skew the data.

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [44]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model
model.fit(X_train, y_train)
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.9919177328380795
Testing Data Score: 0.9922616591002889

In [48]:
# Train a Random Forest Classifier model and print the model score

from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=40)
scaler=StandardScaler().fit(X_train)
X_train_scaled= scaler.transform(X_train)
X_test_scaled= scaler.transform(X_test)

In [50]:
from sklearn.ensemble import RandomForestClassifier
classifier2=RandomForestClassifier(random_state=40, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {classifier2.score(X_train_scaled, y_train)}')
print(f'Testing Score: {classifier2.score(X_test_scaled, y_test)}')

Training Score: 0.9971970009629936
Testing Score: 0.9919521254643004

*Which model performed better? How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.*

After running both Logistic Regression and Random Forest Classifier both training and testing scores are very close but my prediction was incorrect as it seems the Logistic Regression is slightly more accurate, as the training and test score are slightly closer compared to the training and testing score of Random Forest Classifier.